<!-- Footer -->
<footer class="text-center">
  <div class="footer-above" style="padding-top: 200px; padding-bottom: 100px;">
    <div class="container" style="color: black;">
      <div class="row">
        <div class="footer-col col-md-4">
          
        </div>
        <div class="footer-col col-md-4">
          <h3>{{ site.footer.social }}</h3>
          <ul class="list-inline" style="color: black;">
            <a href="{{ site.email }}" target="_blank"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"><i class="fa fa-envelope" style="font-size:16px; padding-right:25px; color:black;"></i></a></li>
            {% for network in site.social %}
              <a href="{{ network.url }}" target="_blank" class="btn-social btn-outline" style="color: black;"><i
                  class="fa-brands fa-fw fa-{{ network.title }}"></i></a>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="footer-col col-md-4">
        </div>
      </div>
    </div>
  </div>
  <div class="footer-below">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          Copyright &copy; {{ site.footer.copyright }} 20{{ site.time | date: '%y' }}
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll visible-xs visible-sm">
  <a class="btn btn-primary" href="#page-top">
    <i class="fa fa-chevron-up"></i>
  </a>
</div>
