<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <img class="img-responsive float-left mr-3 " style="border: 2px solid black;" src="img/img2.JPG" alt="profile-pic" /> <!-- Added float-left and mr-3 classes -->
      </div>
      <div class="col-lg-6">
        <div class="intro-text">
          <span class="name">{{ site.title }}</span>
          <hr class="star-light" />
          <span class="skills">{{ site.skills }}</span>
        </div>
      </div>
    </div>
  </div>
</header>
